<div id="fridge">
  <div class="name">Refrigerator</div>
  <div class="cooling-stage">
    <button (click)="fridge.changeState('increase')">+</button>
    {{ fridge.getState().coolingStage }}
    <button (click)="fridge.changeState('decrease')">
      <span class="material-icons-outlined"> arrow_drop_down </span>
    </button>
  </div>
  <div class="status">
    <button
      (click)="fridge.changeState('toggle')"
      [ngStyle]="{ background: fridge.getState().isActive ? 'green' : 'red' }"
    >
      {{ fridge.getState().isActive ? "On" : "Off" }}
    </button>
  </div>
</div>
