#fridge {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 2vw;
  margin: 1vw;
}

.status {
  background-color: lightgray;
}

.cooling-stage {
  background-color: lightcoral;
}
