<!-- <div id="fridge">
  <div class="name">Refrigerator</div>
  <div class="cooling-stage">
    <button (click)="fridge.changeState('increase')">
      <span class="material-icons"> keyboard_arrow_up </span>
    </button>
    {{ fridge.getState().coolingStage }}
    <button (click)="fridge.changeState('decrease')">
      <span class="material-icons"> keyboard_arrow_down </span>
    </button>
  </div>
  <div class="status">
    <button
      (click)="fridge.changeState('toggle')"
      [ngStyle]="{ background: fridge.getState().isActive ? 'green' : 'red' }"
    >
      {{ fridge.getState().isActive ? "On" : "Off" }}
    </button>
  </div>
</div> -->

<div class="container">
  <div class="fridge-outline">
    <div class="fridge-door"></div>
    <div class="fridge-shadow"></div>
    <div class="fridge-handle small"></div>
    <div class="fridge-handle big"></div>
    <div class="fridge-leg left"></div>
    <div class="fridge-leg right"></div>
    <button
      class="fridge-on-off"
      (click)="fridge.changeState('toggle')"
      [ngStyle]="{
        background: fridge.getState().isActive ? 'lightgreen' : 'red'
      }"
    ></button>
    <div class="arrow up"></div>
  </div>
</div>
